<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src=" //cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->
<!--  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
</head>
<body>

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="background-color: black">
  <!-- Navbar brand -->
  <a  routerLink="/home" class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="30" height="30"></a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/calendar">Calendar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
    <!-- Links -->
    <form class="form-inline">
      <a class="dropdown-item" href="#" style="color: grey;">Log Out</a>
    </form>
  </div>
  <!-- Collapsible content -->
</nav>





<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-6">
        <div class="profile-head">
          <h4>
           {{this.teacher.name}} {{this.teacher.surname}}
          </h4>
          <h6>
            Teacher
          </h6>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Personal Info</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div class="row">
              <div class="col-md-6">
                <label>Hours this Month</label>
              </div>
              <div class="col-md-6">
                <p>{{hoursAndEuroThisMonth[0]}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Euro this Month</label>
              </div>
              <div class="col-md-6">
                <p>{{hoursAndEuroThisMonth[1]}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Average Euro per Hour</label>
              </div>
              <div class="col-md-6">
                <p>{{hoursAndEuroThisMonth[2]}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Cancelled lessons this month</label>
              </div>
              <div class="col-md-6">
                <p>{{cancelledLessonThisMonthCounter}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Extra lessons this Month</label>
              </div>
              <div class="col-md-6">
                <p>{{extraLessonThisMonthCounter}}</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
              </div>
              <div class="col-md-6">
                <p>{{teacher.name}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Surname</label>
              </div>
              <div class="col-md-6">
                <p>{{teacher.surname}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{teacher.email}}</p>
              </div>
            </div>
            <div class="row">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Edit Personal Info
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">New Name</label>
                          <input type="text" [(ngModel)]="newName" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter new Name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">New Surname</label>
                          <input type="text" [(ngModel)]="newSurname" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputPassword1" placeholder="Enter New Surname">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">New Email</label>
                          <input type="email" [(ngModel)]="newEmail" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail1" placeholder="Enter New Email">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updatePersonalInfo()" [disabled]="checkPersonalInfo()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" style="margin-top: 10px;">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#example2Modal">
                Edit Password
              </button>

              <!-- Modal -->
              <div class="modal fade" id="example2Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="example2ModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">New Password</label>
                          <input type="password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" class="form-control" id="password1" aria-describedby="emailHelp" placeholder="Enter new Password">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Confirm New Surname</label>
                          <input type="password" [(ngModel)]="confirmNewPassword" [ngModelOptions]="{standalone: true}" class="form-control" id="password2" placeholder="Confirm New Password">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updatePassword()" [disabled]="checkPassword()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
</html>
