<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="background-color: black">
  <!-- Navbar brand -->
  <a routerLink="/home" class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="30" height="30"></a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
    </ul>
    <!-- Links -->
    <form class="form-inline">
      <a class="dropdown-item" href="#" style="color: grey;">Log Out</a>
    </form>
  </div>
  <!-- Collapsible content -->
</nav>


<div class="text-center">
  <h2 class="month-header">{{ selectedDate | date:'yyyy-MMMM'}}</h2>
  <button style="margin-right: 1%" class="btn-sm" (click)="previousMonth()">prev month</button>
  <button style="margin-left: 1%" class="btn-sm" (click)="nextMonth()"> next month</button>
</div>

<div class="cards">
  <div class="box" *ngFor="let day of this.allDays; let i = index">

    <p *ngIf="(day.getFullYear() > now.getFullYear() )|| (day.getFullYear() === now.getFullYear() && day.getMonth() > now.getMonth() ) ||
    ( day.getFullYear() === now.getFullYear() && day.getMonth() === now.getMonth() && day.getDate() > now.getDate()) "
       class="day">
      {{i + 1}} {{ day | date:'EEE'}} </p>

    <p style="background-color: #8000ff"
       *ngIf="day.getFullYear() === now.getFullYear() && day.getMonth() === now.getMonth() && day.getDate() === now.getDate()"
       class="day">
      {{i + 1}} {{ day | date:'EEE'}}</p>

    <p style="background-color: lightgray" *ngIf="(day.getFullYear() < now.getFullYear() )|| (day.getFullYear() === now.getFullYear() && day.getMonth() < now.getMonth() ) ||
    ( day.getFullYear() === now.getFullYear() && day.getMonth() === now.getMonth() && day.getDate() < now.getDate()) "
       class="day">
      {{i + 1}} {{ day | date:'EEE'}} </p>
    <div class="box-body">
      <div *ngFor="let wl of this.weeklyAndCancelledLessons;let k = index">
        <div *ngIf="wl.lesson.day ===  week[day.getDay()]">
          <div *ngIf="wl.daysCancelled[i+1] === 0">
            <div style="color: black" *ngIf="wl.lesson.day ===  week[day.getDay()]">
              <b>{{wl.lesson.startHour}}:{{wl.lesson.startMinute}} - {{wl.lesson.endHour}}
                :{{wl.lesson.endMinute}}</b><br> {{wl.lesson.studentName}}
              {{wl.lesson.studentSurname}} <p style="font-style: italic">({{wl.lesson.course}})</p>
            </div>
          </div>
          <div *ngIf="wl.daysCancelled[i+1] === 1">
            <div style="color: red" *ngIf="wl.lesson.day ===  week[day.getDay()]">
              <b>{{wl.lesson.startHour}}:{{wl.lesson.startMinute}} - {{wl.lesson.endHour}}
                :{{wl.lesson.endMinute}}</b><br> {{wl.lesson.studentName}}
              {{wl.lesson.studentSurname}} <p style="font-style: italic">({{wl.lesson.course}})</p>
            </div>
          </div>
        </div>
      </div>
      <div *ngFor="let extraLesson of this.extraLessons; let j = index">

        <div style="color: limegreen" class="box-info" *ngIf="extraLesson.day === day.getDate() && extraLesson.month === day.getMonth()
          && extraLesson.year === day.getFullYear()">
          <b>{{extraLesson.startHour}}:{{extraLesson.startMinute}} - {{extraLesson.endHour}}
            :{{extraLesson.endMinute}}</b><br> {{extraLesson.studentName}}
          {{extraLesson.studentSurname}} <p style="font-style: italic">({{extraLesson.course}})</p>
        </div>
      </div>
    </div>
    <div class="box-footer">
      <button class="btn-sm" type="button" data-toggle="modal" attr.data-target="#chooseModal{{i}}">
        Edit
      </button>
      <!--     Modal Choose -->
      <div class="modal fade" id="chooseModal{{i}}" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <b><h5 class="modal-title">Choose action:</h5></b>
            <div class="modal-body">
              <table style="width: 100%">
                <tr>
                  <td style="text-align: center; width: 50%;padding-right: 10%">
                    <button class="btn btn-default" style="background-color: gray; color: white;" data-toggle="modal"
                            attr.data-target="#addModal{{i}}" data-dismiss="modal">New lesson
                    </button>
                  </td>
                  <td style="padding-right: 30%">
                    <button class="btn btn-default" style="background-color: gray; color: white;" data-toggle="modal"
                            attr.data-target="#modal{{i}}" data-dismiss="modal">Cancel lesson
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  btn-secondary " data-dismiss="modal">Κλείσιμο</button>
            </div>
          </div>
        </div>
      </div>
      <!--     end of modal choose -->
      <!--  Add lesson modal    -->
      <div data-backdrop="static" data-keyboard="false" class="modal fade" id="addModal{{i}}" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <b><h5 class="modal-title" id="">Add Lesson</h5></b>
            <div class="modal-body">
              <table>
                <tr>
                  <td>
                    <label for="course-form{{i}}">Lesson:</label></td>
                  <td>
                    <form id="course-form{{i}}" action="/action_page.php" method="get">
                      <input [(ngModel)]="this.extraLessonCreate.course" id="course{{i}}" list="browsers"
                             name="browser">
                      <datalist id="browsers">
                        <option value="Μαθηματικά">
                        <option value="Φυσική">
                        <option value="Χημεία">
                        <option value="Έκθεση">
                        <option value="Αρχαία">
                        <option value="Πληροφορική">
                        <option value="Λογοτεχνία">
                        <option value="Οικονομικά">
                        <option value="Ιστορία">
                      </datalist>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="student-name{{i}}">Student name:</label>
                  </td>
                  <td>
                    <input [(ngModel)]="extraLessonCreate.studentName" type="text" id="student-name{{i}}"></td>
                </tr>
                <tr>
                  <td>
                    <label for="student-surname{{i}}">Student Surname:</label>
                  </td>
                  <td>
                    <input [(ngModel)]="extraLessonCreate.studentSurname" type="text" id="student-surname{{i}}">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="start-time{{i}}">Start time:</label>
                  </td>
                  <td>
                    <input [(ngModel)]="startTime" type="time" id="start-time{{i}}" name="appt"
                           min="09:00" max="18:00" required></td>
                </tr>
                <tr>
                  <td>
                    <label for="end-time{{i}}">Ending time:</label>
                  </td>
                  <td>
                    <input [(ngModel)]="endTime" type="time" id="end-time{{i}}" name="appt"
                           min="09:00" max="18:00" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="input-group-addon">Euro(€) per hour:</span>
                  </td>
                  <td>
                    <div>
                      <div>
                        <input [(ngModel)]="extraLessonCreate.euroPerHour" id="money{{i}}" type="number" value="5"
                               min="0"
                               step="0.5"
                               data-number-to-fixed="2"
                               data-number-stepfactor="100"/>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  btn-secondary " data-dismiss="modal" (click)="closeModal()">Close
              </button>
              <br>
              <button (click)="createExtraLesson(day.getFullYear() , day.getMonth() , day.getDate())"
                      title="Συπληρώστε όλα τα πεδία (Μάθημα, ώρα εναρξης κλπ.)"
                      [disabled]="checkEmptyField()" type="button" data-dismiss="modal" class="btn btn-primary">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--   end of add lesson   -->
      <!-- Modal cancel -->
      <div class="modal fade" id="modal{{i}}" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <b><h5 class="modal-title" id="exampleModalLongTitle">Cancel lessons</h5></b>
            <div class="modal-body">

              <table style="width: 100%" *ngFor="let wl of this.weeklyAndCancelledLessons;let k = index">
                <tr *ngIf="wl.lesson.day === week[day.getDay()] && wl.daysCancelled[i+1] === 0">
                  <td style="text-align: center; width: 50%">
                    <p><b>{{wl.lesson.startHour}}:{{wl.lesson.startMinute}} - {{wl.lesson.endHour}}
                      :{{wl.lesson.endMinute}}</b><br> {{wl.lesson.studentName}}
                      {{wl.lesson.studentSurname}}  {{wl.lesson.course}}</p></td>
                  <td>
                    <button class="btn-sm" style="background-color: red; color: white"
                            (click)="cancelLesson(wl.lesson , day)">Cancel
                    </button>
                  </td>
                </tr>
                <tr *ngIf="wl.lesson.day === week[day.getDay()] && wl.daysCancelled[i+1] === 1">
                  <td style="text-align: center; width: 50%;color: red">
                    <p><b>{{wl.lesson.startHour}}:{{wl.lesson.startMinute}} - {{wl.lesson.endHour}}
                      :{{wl.lesson.endMinute}}</b><br> {{wl.lesson.studentName}}
                      {{wl.lesson.studentSurname}}  {{wl.lesson.course}}</p></td>
                  <td>
                    <button class="btn-sm" style="background-color: grey; color: white"
                            (click)="deleteCancelledLesson(wl.lesson ,day)">undo
                    </button>
                  </td>
                </tr>
              </table>


              <table style="width: 100%" *ngFor="let extraLesson of this.extraLessons; let j = index">

                <tr *ngIf="extraLesson.day === day.getDate() && extraLesson.month === day.getMonth()
          && extraLesson.year === day.getFullYear()">
                  <td style="text-align: center; width: 50%; color: limegreen">
                    <p><b>{{extraLesson.startHour}}:{{extraLesson.startMinute}} - {{extraLesson.endHour}}
                      :{{extraLesson.endMinute}}</b><br> {{extraLesson.studentName}}
                      {{extraLesson.studentSurname}}  {{extraLesson.course}}</p></td>
                  <td>
                    <button class="btn-sm" style="background-color: red; color: white"
                            (click)="deleteExtraLesson(extraLesson)">Cancel
                    </button>
                  </td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn  btn-secondary " data-dismiss="modal">Close</button>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box-footer -->
  </div>
</div>
</body>
</html>
