<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark primary-color" style="background-color: black">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" width="30" height="30"></a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Αρχική
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ημερολόγιο</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Προφίλ</a>
      </li>

      <!-- Dropdown -->
      <!--      <li class="nav-item dropdown">-->
      <!--        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"-->
      <!--           aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
      <!--        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">-->
      <!--          <a class="dropdown-item" href="#">Action</a>-->
      <!--          <a class="dropdown-item" href="#">Another action</a>-->
      <!--          <a class="dropdown-item" href="#">Something else here</a>-->
      <!--        </div>-->
      <!--      </li>-->

    </ul>
    <!-- Links -->

    <form class="form-inline">

      <a class="dropdown-item" href="#" style="color: grey;">Αποσύνδεση</a>

    </form>
  </div>
  <!-- Collapsible content -->

</nav>

<div class="cards">
  <div class="box">

    <p class="day">Δευτέρα</p>

    <div class="box-body">
      The body of the box
    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Προσθήκη
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" role="dialog"
           aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <b><h5 class="modal-title" id="exampleModalLongTitle">Προσθήκη Μαθήματος</h5></b>
            <div class="modal-body">
              <table>
                <tr>
                  <td>
                    <label for="course-form">Μάθημα:</label></td>
                  <td>
                    <form id="course-form" action="/action_page.php" method="get">
                      <input id="course" list="browsers" name="browser">
                      <datalist id="browsers">
                        <option value="Μαθηματικά">
                        <option value="Φυσική">
                        <option value="Χημεία">
                        <option value="Έκθεση">
                        <option value="Αρχαία">
                        <option value="Πληροφορική">
                        <option value="Λογοτεχνία">
                        <option value="Οικονομικά">
                        <option value="Ιστορία">
                      </datalist>

                    </form>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="student-name">Όνομα μαθητή:</label>
                  </td>
                  <td>
                    <input type="text" id="student-name"></td>
                </tr>

                <tr>
                  <td>
                    <label for="student-surname">Επίθετο μαθητή:</label>
                  </td>
                  <td>
                    <input type="text" id="student-surname">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="start-time">Ώρα έναρξης:</label>
                  </td>
                  <td>
                    <input type="time" id="start-time" name="appt"
                           min="09:00" max="18:00" required></td>
                </tr>

                <tr>
                  <td>
                    <label for="end-time">Ώρα λήξης:</label>
                  </td>
                  <td>
                    <input type="time" id="end-time" name="appt"
                           min="09:00" max="18:00" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="input-group-addon">Ευρώ(€) ανά ώρα</span>
                  </td>
                  <td>
                    <div>

                      <div>

                        <input id="money" type="number" value="5" min="0" step="0.5" data-number-to-fixed="2"
                               data-number-stepfactor="100"/>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

            <div class="modal-footer">


              <button type="button" class="btn  btn-secondary " data-dismiss="modal">Κλείσιμο</button>
              <br>


              <button type="button" class="btn btn-primary">Αποθήκευση</button>


            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- box-footer -->
  </div>
  <div class="box">

    <p class="day">Τρίτη</p>

    <div class="box-body">
      The body of the box
    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-primary rounded-right">Προσθήκη</button>
    </div>
    <!-- box-footer -->
  </div>
  <div class="box">

    <p class="day">Τετάρτη</p>

    <div class="box-body">
      The body of the box
    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-primary rounded-right">Προσθήκη</button>
    </div>
    <!-- box-footer -->
  </div>
  <div class="box">

    <p class="day">Πέμπτη</p>

    <div class="box-body">
      The body of the box
    </div>

    <div>
      <button type="button" class="btn btn-primary rounded-right">Προσθήκη</button>
    </div>
    <!-- box-footer -->
  </div>
  <div class="box">

    <p class="day">Παρασκευή</p>

    <div class="box-body">
      The body of the box
    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-primary rounded-right">Προσθήκη</button>
    </div>
    <!-- box-footer -->
  </div>
  <div class="box">

    <p class="day">Σάββατο</p>

    <div class="box-body">
      The body of the box
    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-primary rounded-right">Προσθήκη</button>
    </div>
    <!-- box-footer -->
  </div>
  <div class="box">

    <p class="day">Κυριακή</p>

    <div class="box-body">
      The body of the box
    </div>

    <div class="box-footer">
      <button type="button" class="btn btn-primary rounded-right">Προσθήκη</button>
    </div>
    <!-- box-footer -->
  </div>
</div>

</body>
</html>
